<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common-header"></head>
<body>
<h2>Add Loan</h2>
<form th:action="@{/loans/new}" th:object="${loan}" method="post">
    <div class="form-group">
        <label>Client</label>
        <select th:field="*{client}" class="form-control">
            <option th:each="client : ${clients}" th:value="${client.id}"
                    th:text="${client.surname + ' ' + client.name + ' ' + client.patronymic}"></option>
        </select>
    </div>
    <div class="form-group">
        <label>Book</label>
        <select th:field="*{book}" class="form-control">
            <option th:each="book : ${books}" th:value="${book.id}" th:text="${book.title}"></option>
        </select>
    </div>
    <div class="form-group">
        <label>Loan Date</label>
        <input type="date" th:field="*{loanDate}" class="form-control"
               th:attr="max=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"/>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <a class="btn btn-secondary" th:href="@{/loans}">Cancel</a>
</form>
</body>
</html>